.friendList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item{
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.status {
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.name{
  font-size: 20px;
  font-weight: 500;
}