.statistics{
  width: 320px;
  height: 150px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 4px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #52575B;
}

.statList{
    display: flex;
}

.statItem{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 77px;
  gap: 10px;
  flex-direction: column;
}

.label{
  font-size: 12px;
  color: #fff;
}

.percentage{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}