.table{
  width: 500px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 8px;
  
}

.thead{
  width: 100px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #00BCD5;
  color: #fff;
  border-radius: 4px;
  
}

.tbody{
  
}

.tbodyTr{
  text-align: center;
  color: #777C82;
  height: 50px;
  text-transform: capitalize;
}

.tbodyTr:nth-child(2n) {
  background-color: #ECF1F5;
}

.type{}

.amount{
}

.currency{}